<%= profile_page 'Detailed Stats', json: true, csv: false do %>
  <%= render partial: '/layouts/notifications' %>

  <div class="row">
    <div class="col-sm-4">
      <h2>Overall</h2>
    </div>
    <div class="col-sm-8">
      <h2>
        <%= render partial: '/stats/toolbar' %>
      </h2>
    </div>
  </div>

  <table class="table table-hover table-condensed overall-stats">
    <thead>
      <tr>
        <th class="win-loss">Win - Loss</th>
        <th class="winrate">Winrate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="win-loss"><%= @stats[:overall][:wins] %> - <%= @stats[:overall][:losses] %></td>
        <td class="winrate"><%= win_rate(@stats[:overall][:wins], @stats[:overall][:losses]) %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= render partial: 'class_stats' %>
  <%= render partial: 'deck_stats' unless @mode and @mode == :arena %>
<% end %>
