<div class="btn-group btn-group-sm toolbar">
  <% param = stats_params.except(:time_range, :start, :end) %>
  <%= link_to 'All-time', param.merge(time_range: :all), class: %w[btn btn-default] + (@time_range ? [] : ['active'])  %>
  <%= link_to 'Last 24 hours', param.merge(time_range: :last_24_hours), class: %w[btn btn-default] + (@time_range == :last_24_hours ? ['active'] : [])  %>
  <%= link_to 'Last 3 days', param.merge(time_range: :last_3_days), class: %w[btn btn-default] + (@time_range == :last_3_days ? ['active'] : [])  %>
  <%= link_to 'Current month', param.merge(time_range: :current_month), class: %w[btn btn-default] + (@time_range == :current_month ? ['active'] : []) %>
  <%= link_to 'Custom', param.merge(time_range: :custom), data: { start: (@time_range_start || Date.today).iso8601, end: (@time_range_end || Date.tomorrow).iso8601 }, onclick: 'return false', class: %w[btn btn-default custom] + (@time_range == :custom ? ['active'] : [])  %>
</div>

