<div class="container">
  <%= render '/layouts/header' %>

  <div>
    <h2>History</h2>

    <%= render partial: '/layouts/notifications' %>

    <table class="table table-hover table-condensed">
      <tbody>
      <% @results.each do |result| %>
        <%
          additions_for_cards_played = {
                                        class: 'has-popover',
                                        data: {
                                          container: 'body',
                                          title: 'Cards played',
                                          trigger: 'hover',
                                          placement: 'bottom',
                                          html: true
                                        }
                                      }

          if my_cards_played = table_of_cards_played(result.card_histories.me)
            my_additions = additions_for_cards_played.deep_merge(data: {content: my_cards_played})
          end

          if opponent_cards_played = table_of_cards_played(result.card_histories.opponent)
            opponent_additions = additions_for_cards_played.deep_merge(data: {content: opponent_cards_played})
          end
        %>
        <tr>
          <td><%= hero_name(result.hero.name, my_additions) %></td>
          <td> vs <%= hero_name(result.opponent.name, opponent_additions) %>
          </td>
          <td><span class="<%= result.win ? 'win' : 'loss' %>"><%= result.win ? 'Win' : 'Loss' %></span></td>
          <td><%= local_time_ago(result.created_at) %></td>
          <td><%= result.mode.capitalize %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="text-right">
      <%= page_entries_info @results %>
    </div>

    <div class="text-center">
      <%= paginate @results, window: 1 %>
    </div>

    <%= render partial: 'layouts/profile_footer', locals: {json: true, csv: true} %>
  </div>
</div>

