<div class="container">
  <%= render '/layouts/header' %>

  <div>
    <h2>History</h2>
    <table class="table table-hover table-condensed">
      <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= hero_name(result.hero.name) %></td>
          <td>vs <%= hero_name(result.opponent.name) %></td>
          <td><span class="<%= result.win ? 'win' : 'loss' %>"><%= result.win ? 'Win' : 'Loss' %></span></td>
          <td><%= time_ago_in_words(result.created_at) %> ago</td>
          <td><%= result.mode.capitalize %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="text-right">
      <%= page_entries_info @results %>
    </div>

    <div class="text-center">
      <%= paginate @results, window: 1 %>
    </div>

    <div class="pull-right btn-group">
      <%= link_to 'JSON', history_index_path(format: :json), class: 'btn btn-default btn-xs' %>
      <%= link_to 'CSV', history_index_path(format: :csv), class: 'btn btn-default btn-xs' %>
    </div>
  </div>
</div>

