<div class="container">
  <%= render '/layouts/header' %>
  <% title 'History' %>

  <div>
    <h2>History</h2>

    <%= render partial: '/layouts/notifications' %>

    <% if Result.modes.has_key?(params[:mode]) %>
    <p>
      <strong>Mode:</strong> <%= params[:mode].capitalize %> <%= link_to icon('times'), params.except(:mode) %>
    </p>
    <% end %>

    <% if @arena %>
    <p>
      <strong>Arena Run:</strong> <%= hero_name(@arena.hero.name) %> <%= arena_result(@arena) %> <%= link_to icon('times'), params.except(:arena_id) %>
    </p>
    <% end %>

    <table class="table table-hover table-condensed history">
      <tbody>
      <% @results.each do |result| %>
        <%
          additions_for_cards_played = {
                                        class: 'has-popover dotted-baseline',
                                        data: {
                                          container: 'body',
                                          title: 'Cards played',
                                          trigger: 'hover',
                                          placement: 'bottom',
                                          html: true
                                        }
                                      }

          my_additions = {}
          opponent_additions = {}

          if cards_played = table_of_cards_played(result.card_histories)
            my_additions = additions_for_cards_played.deep_merge(data: {content: cards_played[:me]}) if cards_played[:me]
            opponent_additions = additions_for_cards_played.deep_merge(data: {content: cards_played[:opponent]}) if cards_played[:opponent]
          end

        %>
        <tr>
          <td><%= hero_name(result.hero.name, additions: my_additions, deck: result.deck) %></td>
          <td> vs <%= hero_name(result.opponent.name, additions: opponent_additions, deck: result.opponent_deck) %>
          </td>
          <td><span class="<%= result.win ? 'win' : 'loss' %>"><%= result.win ? 'Win' : 'Loss' %></span></td>
          <td>
            <%
              if result.card_histories.any?
                header = timeline_header_of_result(result)
                additions_for_timeline = {
                  class: 'btn btn-default btn-xs timeline-button',
                  data: {
                    container: 'body',
                    title: header.gsub('"', "'"),
                    html: true
                  }
                }
                timeline = timeline_of_result(result).gsub("'", "'")
              end
            %>
            <%= button_tag image_tag('crossed_swords_14.png'), additions_for_timeline.deep_merge(data: {content: timeline}) if timeline %>
          </td>
          <td><%= local_time_ago(result.created_at) %></td>
          <td><%= link_to result.mode.capitalize, params.merge(mode: result.mode).except(:page) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="text-right">
      <%= page_entries_info @results %>
    </div>

    <div class="text-center">
      <%= paginate @results, window: 1 %>
    </div>

    <%= render partial: 'layouts/profile_footer', locals: {json: true, csv: true} %>
  </div>
</div>

