<%= profile_page 'History', json: true, csv: true do %>
  <h2>History</h2>

  <%= render partial: '/layouts/notifications' %>

  <% if Result.modes.has_key?(params[:mode]) %>
    <%= render(partial: '/layouts/filter', locals: {name: 'Mode', label: params[:mode].capitalize, param: :mode}) %>
  <% end %>

  <% if @arena %>
    <%= render(partial: '/layouts/filter', locals: {name: 'Arena Run', label: "#{hero_label(@arena.hero.name)} (#{arena_result(@arena)})", param: :arena_id}) %>
  <% end %>

  <% if @results.empty? %>
  <p class="alert alert-info">
    No results uploaded yet. Play a game or two while Track-o-Bot is running.
  </p>
  <% else %>
    <%= form_tag bulk_delete_profile_results_path, method: :delete do %>
    <div class="panel panel-default">
      <table class="table table-hover table-condensed history">
        <tbody>
        <% @results.each do |result| %>
          <tr>
            <td class="choose">
              <% if result.arena? %>
                <%= check_box_tag "result_ids[]", result.id, false, class: "bulk-edit-control bulk-edit-picker", title: "Arena results cannot be edited currently", disabled: true%>
              <% else %>
                <%= check_box_tag "result_ids[]", result.id, false, autocomplete: "off", class: "bulk-edit-control bulk-edit-picker"%>
              <% end %>
            </td>
            <td class="player">
              <%= player_label_for_result result, card_history_additions(result.player_card_histories) %>
            </td>
            <td class="opponent">vs <%= opponent_label_for_result result, card_history_additions(result.opponent_card_histories) %></td>
            <td class="result"><span class="<%= result.win ? 'win' : 'loss' %>"><%= result.win ? 'Win' : 'Loss' %></span></td>
            <td class="timeline"><%= button_tag image_tag('crossed_swords_14.png'), timeline_additions(result) if result.card_histories.any? %></td>
            <td class="timestamp <%= 'with-duration' if result.duration %>">
              <span class="added"><%= local_time_ago(result.created_at) %></span>
              <% if result.duration %>
                <span class="duration"><i class="fa fa-clock-o"></i> <%= match_duration(result.duration) %></span>
              <% end %>
            </td>
            <td class="mode"><%= link_to result.mode.capitalize, params.merge(mode: result.mode).except(:page) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= submit_tag "Delete Selected", class: "btn btn-danger bulk-edit-control" %>
    <% end %>
    <%= button_tag "Cancel", id: "bulk_edit_cancel", class: "btn bulk-edit-control" %>
  <% end %>

  <div class="text-right">
    <%= page_entries_info @results %>
  </div>

  <div class="text-center">
    <%= paginate @results, window: 1 %>
  </div>
<% end %>
