<%= profile_page 'Old Deck Stats', json: true do %>
  <div class="row">
    <div class="col-sm-3">
      <h3>Deck Stats
        <small>Old</small></h3>
    </div>
    <div class="col-sm-9">
      <h3>
        <%= render partial: '/stats/shared/toolbar', locals: { modes: %i[ranked casual friendly] } %>
      </h3>
    </div>
  </div>

  <%= render partial: '/stats/shared/custom_range' %>

  <%= render partial: '/layouts/notifications' %>

  <%= render(partial: '/layouts/filter', locals: {name: 'As', label: label_for_deck(@as_deck), param: :as_custom_deck}) if @as_deck %>
  <%= render(partial: '/layouts/filter', locals: {name: 'Versus', label: label_for_deck(@vs_deck), param: :vs_custom_deck}) if @vs_deck %>

  <div class="panel panel-default">
    <table class="table table-hover table-condensed stats overall-stats">
      <thead>
        <tr>
          <th class="win-loss">Win/Loss</th>
          <th class="winrate">Winrate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="win-loss"><%= win_loss(@stats[:overall][:wins], @stats[:overall][:losses]) %></td>
          <td class="winrate"><%= winrate(@stats[:overall][:wins], @stats[:overall][:losses]) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <%
    %i[as vs].each do |type|
      key = "#{type}_deck".to_sym
      next if instance_variable_get("@#{type}_deck")
  %>
    <div class="panel panel-default">
      <table class="table table-hover table-condensed stats deck-stats">
        <thead>
          <tr>
            <th class="deck">Deck</th>
            <th class="win-loss"><%= sortable_header_link('Win/Loss', :share) %></th>
            <th class="winrate"><%= sortable_header_link('Winrate', :winrate) %></th>
          </tr>
        </thead>
        <tbody>
        <% @stats[key].each do |name, stats| %>
          <% deck = @decks_by_id[stats[:deck_id]] if stats[:deck_id] %>
          <tr>
            <td class="deck"><%= type %> <%= link_to label_for_deck(deck), params.merge("#{type}_custom_deck" => deck.id) %></td>
            <td class="win-loss"><%= win_loss(stats[:wins], stats[:losses]) %></td>
            <td class="winrate"><%= winrate(stats[:wins], stats[:losses], %w[justified]) %></td>
          </tr>
        <% end %>
        </tbody>
        <%
          values = @stats[key].sort_by { |_, stats| stats[:total] }.reverse.collect do |name, stats|
            deck = @decks_by_id[stats[:deck_id]] if stats[:deck_id]
            { label: deck.name, value: stats[:total], class: deck.hero.name.downcase, link: url_for(params.merge("#{type}_custom_deck" => deck.id)) }
          end
        %>
        <%= render(partial: '/stats/shared/class_distribution_bar', locals: {values: values, colspan: 3}) %>
      </table>
    </div>
  <% end %>
<% end %>
