<div class="container">
  <%= render '/layouts/menu' %>

  <div>
    <h2>Arena</h2>
    <table class="table table-hover table-condensed">
      <tbody>
      <% @arenas.each do |arena| %>
        <tr>
          <td><%= hero_name(arena.hero.name) %></td>
          <td><%= arena.wins.count %>-<%= arena.losses.count %></td>
          <td><%= time_ago_in_words(arena.results.order('created_at DESC').first.created_at) %> ago</td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="text-right">
      <%= page_entries_info @arenas %>
    </div>

    <div class="text-center">
      <%= paginate @arenas, window: 1 %>
    </div>
  </div>
</div>

