<div class="container">
  <%= render '/layouts/menu' %>

  <div>
    <h2>Arena</h2>
    <table class="table table-hover table-condensed">
      <tbody>
      <% @arenas.each do |arena| %>
        <tr>
          <td><%= arena.hero.name %></td>
          <td><%= arena.wins.count %>-<%= arena.losses.count %></td>
          <td><%= time_ago_in_words(arena.results.order('created_at DESC').first.created_at) %> ago</td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <ul class="pager">
      <li><%= link_to_previous_page @arenas, 'Previous' %></li>
      <li><%= link_to_next_page @arenas, 'Next' %></li>
    </ul>
  </div>
</div>

