<%= profile_page 'Arena', json: true, csv: false do %>
  <h2>Arena</h2>
  <%= render partial: '/layouts/notifications' %>

  <% unless @arenas.empty? %>
  <div class="panel panel-default">
      <table class="table table-hover table-condensed arena">
        <tbody>
        <% @arenas.each do |arena| %>
          <tr>
            <td class="hero"><%= hero_label(arena.hero.name) %></td>
            <td class="result"><%= link_to arena_result(arena), profile_history_index_path(arena_id: arena.id) %></td>
            <td class="timestamp"><%= local_time_ago(arena.results.order('created_at DESC').first.created_at) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
  <% end %>

  <div class="text-right">
    <%= page_entries_info @arenas %>
  </div>

  <div class="text-center">
    <%= paginate @arenas, window: 1 %>
  </div>
<% end %>
