<div class="container start">
  <div class="row text-center">
    <%= image_tag 'logo.png', width: '250' %>
    <h1>Track-o-Bot</h1>
    <div class="slogan">The easiest way to track your Hearthstone matches</div>
  </div>

  <div class="row text-center">
    <a href="https://github.com/stevschmid/track-o-bot/releases/download/0.0.1/Track-o-Bot_0.0.1.dmg" class="btn btn-primary" role="button"><i class='fa fa-apple'></i>&nbsp;Download for Mac</a>
    <a href="#" class="btn btn-default" disabled="disabled" role="button"><i class='fa fa-windows'></i>&nbsp;Download for Windows (soon&trade;)</a>
    <a href="https://github.com/stevschmid/track-o-bot/releases" class="btn btn-default" role="button"><i class='fa fa-bars'></i>&nbsp;Releases</a>
    <a href="https://github.com/stevschmid/track-o-bot" class="btn btn-default" role="button"><i class='fa fa-github'></i>&nbsp;Source Code</a>
  </div>

  <div class="row steps">
    <div class="col-xs-6 col-md-3">
      <%= image_tag 'step_install.png', class: 'step' %>
      <div class="caption">
        1. Install and launch the app.
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag 'step_play.png', class: 'step' %>
      <div class="caption">
        2. Play Hearthstone.
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag 'step_profile.png', class: 'step' %>
      <div class="caption">
        3. Open your profile via the <em>Track-o-Bot</em> Icon.
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag 'step_history.png', class: 'step' %>
      <div class="caption">
        4. See your match history and analyze your matches.
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Features</h2>
    <p>Track-o-Bot is an easy-to-use app which automatically tracks your Hearthstones matches. Install, launch and you are ready to go.</p>
    <ul>
      <li>Low-cost image detection algorithms track your Hearthstone results.</li>
      <li>Automatic upload of the results to your online profile.</li>
      <li>Full transparency: Your data belongs to you! Download your history (JSON or CSV) and analyze your play.</li>
      <li>Open Source: Contribute and shape the future of Track-o-Bot!</li>
      <li>Mac &amp; Windows compatibility (Windows client coming soon!&trade;)</li>
      <li>Written in C++ using the Qt Framework</li>
    </ul>
  </div>

  <div class="row">
    <h2>Troubleshooting</h2>
    <ul>
      <li><em>I play in fullscreen and the app doesn't track my matches!</em><br/>Make sure the Hearthstone resolution matches the resolution of your screen (if you play fullscreen).</li>
      <li><em>Where can I see what's going on?</em><br/>There is a log accessible via the settings in Track-o-Bot</li>.
    </ul>
  </div>

  <div class="row">
    <h2>Support</h2>
    If you run into problems, use the <a href="https://github.com/stevschmid/track-o-bot/issues">GitHub issue tracker</a>.
  </div>

  <div class="row">
    <h2>License</h2>
    The source code for Track-o-Bot is released under the <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License (LGPL)</a>.
  </div>
</div>

