<div class="container start">
  <div class="row text-center">
    <%= image_tag 'logo.png', width: '250' %>
    <h1>Track-o-Bot</h1>
    <div class="slogan">The easiest way to track your Hearthstone matches</div>
  </div>

  <div class="row text-center">
    <% if defined?(WIN_DOWNLOAD_URL) %>
      <a href="<%= WIN_DOWNLOAD_URL %>" class="btn btn-primary" role="button"><i class='fa fa-windows'></i>&nbsp;Download for Windows</a>
    <% end %>
    <% if defined?(MAC_DOWNLOAD_URL) %>
      <a href="<%= MAC_DOWNLOAD_URL %>" class="btn btn-primary" role="button"><i class='fa fa-apple'></i>&nbsp;Download for Mac</a>
    <% end %>
    <a href="https://github.com/stevschmid/track-o-bot/releases" class="btn btn-default" role="button"><i class='fa fa-bars'></i>&nbsp;Releases</a>
    <a href="https://github.com/stevschmid/track-o-bot" class="btn btn-default" role="button"><i class='fa fa-github'></i>&nbsp;Source Code</a>
    <a href="https://www.paypal.me/StevenSchmid" class="btn btn-default" role="button"><i class='fa fa-paypal'></i>&nbsp;Donate</a>
  </div>

  <div class="row steps">
    <div class="col-xs-6 col-md-3">
      <%= image_tag 'step_install.png', class: 'step' %>
      <div class="caption">
        1. Install and launch the app
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag 'step_play.png', class: 'step' %>
      <div class="caption">
        2. Play Hearthstone
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag 'step_profile.png', class: 'step' %>
      <div class="caption">
        3. Open your profile via the <em>Track-o-Bot</em> Icon
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag 'step_history.png', class: 'step' %>
      <div class="caption">
        4. See your match history and analyze your games
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Features</h2>
    <p>Track-o-Bot is a small, easy-to-use app which automatically tracks your Hearthstones matches. Install, launch and you are ready to go.</p>
    <ul>
      <li>Tracks match-ups and results of your Hearthstone battles</li>
      <li>Records the course of each match (cards played and hero powers used)</li>
      <li>Uploads results automatically to your online profile</li>
      <li>Full transparency: Your data belongs to you! Download your history (directly or via API) and analyze your play</li>
      <li>Open Source: Contribute and shape the future of Track-o-Bot!</li>
      <li>Low memory footprint (&lt;10 MB) and low CPU usage (&lt;1%)</li>
      <li>Mac &amp; Windows compatibility</li>
      <li>Written in C++ using the Qt Framework</li>
    </ul>
    <ul class="gallery">
      <li><%= link_to image_tag('screenshot_history.png'), image_path('screenshot_history.png'), target: '_blank' %></li>
      <li><%= link_to image_tag('screenshot_class_stats.png'), image_path('screenshot_class_stats.png'), target: '_blank' %></li>
      <li><%= link_to image_tag('screenshot_deck_stats.png'), image_path('screenshot_deck_stats.png'), target: '_blank'  %></li>
      <li><%= link_to image_tag('screenshot_arena.png'), image_path('screenshot_arena.png'), target: '_blank' %></li>
    </ul>
  </div>

  <div class="row">
    <h2>Troubleshooting</h2>
    <ul class="troubleshoot">
      <li><em>Q: Why doesn't Track-o-Bot track my matches?</em><br/>Make sure you restart Hearthstone after you installed or updated Track-o-Bot. There is also the possibility that you moved your Hearthstone folder recently. In this case, use <%= link_to "Scan and Repair", image_path('faq_scanrepair.jpg'), target: '_blank' %> in the Battle.net launcher and restart Track-o-Bot.</li>
      <li><em>Q: Can I use the same account on multiple computers?</em><br/>Yes! Use the import/export function in Track-o-Bot's settings.</li>
      <li><em>Q: It is safe to use?</em><br/><a href="https://twitter.com/bdbrode/status/511151446038179840" target="_blank">Yes.</a></li>
      <li><em>Q: I installed Track-o-Bot and suddenly Hearthstone lags!</em><br/>The built-in logging of Hearthstone might be slowing down your computer. Check out this <a href="https://www.reddit.com/r/trackobot/comments/3ag3an/hearthstones_logging_function_causing_lags_and/" target="_blank">thread</a> for further information.</li>
      <li><em>Q: Where can I see what's going on?</em><br/>There is a log accessible via the settings in Track-o-Bot.</li>
      <li><em>Q: Does it work on Linux?</em><br/>Check out this <a href="https://github.com/BOSSoNe0013/track-o-bot" target="_blank">fork</a> which includes native support for linux.</li>
    </ul>
  </div>

  <div class="row">
    <h2>Support</h2>
    Use the official <a href="http://www.reddit.com/r/trackobot/" target="_blank">subreddit</a> if you run into problems or want to discuss ideas. 
  </div>

  <div class="row">
    <h2>License</h2>
    The source code for Track-o-Bot is released under the <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License (LGPL)</a>.
  </div>
</div>

