<%= profile_page 'Arena Stats', json: true do %>

<div class="row">
  <div class="col-sm-4">
    <h3>Arena Statistics</h3>
  </div>
  <div class="col-sm-8">
    <h2>
      <%= render partial: '/stats/shared/toolbar', locals: { selectors: %i[hero timerange] } %>
    </h2>
  </div>
</div>

<table class="table table-hover table-condensed arena-stats">
  <thead>
    <tr>
      <th class="win-loss">Win - Loss</th>
      <th class="runs">Runs</th>
      <th class="wins-average">Wins on average</th>
      <th class="winrate">Winrate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="win-loss"><%= @stats[:overall][:wins] %> - <%= @stats[:overall][:losses] %></td>
      <td class="runs"><%= @stats[:overall][:runs] %></td>
      <td class="wins-average"><%= @stats[:overall][:runs] == 0 ? '-' : "%.1f" % (@stats[:overall][:wins].to_f / @stats[:overall][:runs]) %></td>
      <td class="winrate"><%= winrate(@stats[:overall][:wins], @stats[:overall][:losses]) %></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-7">
    <table class="table table-hover table-condensed arena-stats">
      <thead>
        <tr>
          <th class="wins">Wins</th>
          <th class="achieved">Times achieved</th>
          <th class="share">Share</th>
        </tr>
      </thead>
      <tbody>

      <% @stats[:count_by_wins].each_with_index do |count, num_wins| %>
      <tr class="arena-stats-select-win-bar" data-bar-index="<%= num_wins %>">
        <td class="wins"><%= num_wins %></td>
        <td class="achieved"><%= "#{count}" %></td>
        <td class="share"><%= percentage(count, @stats[:overall][:runs]) %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-sm-5">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Distribution of wins</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="arena-stats-win-distribution" data-width="100%" data-height="100px"><%= @stats[:count_by_wins].join(',') %></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% end %>
