<%= profile_page 'Arena Stats', json: true do %>

<div class="row">
  <div class="col-sm-4">
    <h3>Arena Statistics</h3>
  </div>
  <div class="col-sm-8">
    <h2>
      <%= render partial: '/stats/toolbar', locals: { show_mode: false } %>
    </h2>
  </div>
</div>

<table class="table table-hover table-condensed arena-stats">
  <thead>
    <tr>
      <th class="win-loss">Win - Loss</th>
      <th class="runs">Runs</th>
      <th class="wins-average">Wins on average</th>
      <th class="winrate">Winrate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="win-loss"><%= @stats[:overall][:wins] %> - <%= @stats[:overall][:losses] %></td>
      <td class="runs"><%= @stats[:overall][:runs] %></td>
      <td class="wins-average"><%= @stats[:overall][:runs] == 0 ? '-' : "%.1f" % (@stats[:overall][:wins].to_f / @stats[:overall][:runs]) %></td>
      <td class="winrate"><%= winrate(@stats[:overall][:wins], @stats[:overall][:losses]) %></td>
    </tr>
  </tbody>
</table>

<table class="table table-hover table-condensed arena-stats">
  <thead>
    <tr>
      <th class="wins">Wins</th>
      <th class="achieved">Achieved</th>
      <th class="share">Share</th>
      <th class="hero">Class</th>
    </tr>
  </thead>
  <tbody>

  <% @stats[:arena].each do |num_wins, count_per_hero| %>
  <tr>
    <td class="wins"><%= num_wins %></td>
    <td class="achieved"><%= 
      times_achieved = count_per_hero.values.inject(&:+) 
      "#{times_achieved}x"
    %></td>
    <td class="share">
      <%= percentage( times_achieved, @stats[:overall][:runs] ) %>
    </td>
    <td class="hero">
      <%=
        count_per_hero.collect do |hero_name, count|
          hero_icon(hero_name, {data: {toggle: 'tooltip', placement: 'bottom'}, title: "#{count}x with #{hero_name}", class: 'has-tooltip'})
        end.join.html_safe
      %>
    </td>
  </tr>
  <% end %>
</table>

<% end %>
