<%= profile_page 'Class Statistics', json: true do %>
  <div class="row">
    <div class="col-sm-4">
      <h2>Overall</h2>
    </div>
    <div class="col-sm-8">
      <h2>
        <%= render partial: '/stats/toolbar' %>
      </h2>
    </div>
  </div>

  <table class="table table-hover table-condensed overall-stats">
    <thead>
      <tr>
        <th class="win-loss">Win - Loss</th>
        <th class="winrate">Winrate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="win-loss"><%= @stats[:overall][:wins] %> - <%= @stats[:overall][:losses] %></td>
        <td class="winrate"><%= win_rate(@stats[:overall][:wins], @stats[:overall][:losses]) %>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Class Statistics</h2>
  <%= render partial: '/layouts/notifications' %>
  <% if @as_hero %>
  <p>
    <strong>As:</strong> <%= hero_label(@as_hero.name) %> <%= link_to icon('times'), params.except(:as_hero) %>
  </p>
  <% end %>
  <% if @vs_hero %>
  <p>
    <strong>Versus:</strong> <%= hero_label(@vs_hero.name) %> <%= link_to icon('times'), params.except(:vs_hero) %>
  </p>
  <% end %>

  <% %i[as vs].each do |type| %>
    <table class="table table-hover table-condensed class-stats">
      <thead>
        <tr>
          <th class="hero">Class</th>
          <th class="share">Share</th>
          <th class="win-loss">Win/Loss</th>
          <th class="winrate">Winrate</th>
        </tr>
      </thead>
      <tbody>

      <%
        total = @stats[:classes][type].inject(0) do |sum, (hero, stats)|
          sum + stats[:wins] + stats[:losses]
        end
      %>

      <% @stats[:classes][type].each do |hero, stats| %>
      <tr>
        <td class="hero"><%= type %> <%= link_to hero_label(hero.name), params.merge("#{type}_hero" => hero.name.downcase) %></td>
        <td class="share"><%= percentage(stats[:wins] + stats[:losses], total) %></td>
        <td class="win-loss"><%= stats[:wins] %>/<%= stats[:losses] %></td>
        <td class="winrate"><%= win_rate(stats[:wins], stats[:losses]) %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
