<%= profile_page 'Class Stats', json: true do %>
  <div class="row">
    <div class="col-sm-4">
      <h3>Class Statistics</h3>
    </div>
    <div class="col-sm-8">
      <h3>
        <%= render partial: '/stats/shared/toolbar' %>
      </h3>
    </div>
  </div>

  <%= render partial: '/layouts/notifications' %>

  <%= render(partial: '/layouts/filter', locals: {name: 'As', label: hero_label(@as_hero.name), param: :as_hero}) if @as_hero %>
  <%= render(partial: '/layouts/filter', locals: {name: 'Versus', label: hero_label(@vs_hero.name), param: :vs_hero}) if @vs_hero %>

  <table class="table table-hover table-condensed stats overall-stats">
    <thead>
      <tr>
        <th class="win-loss">Win/Loss</th>
        <th class="winrate">Winrate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="win-loss"><%= win_loss(@stats[:overall][:wins], @stats[:overall][:losses]) %></td>
        <td class="winrate"><%= winrate(@stats[:overall][:wins], @stats[:overall][:losses]) %>
        </td>
      </tr>
    </tbody>
  </table>

  <%
    %i[as vs].each do |type| 
      next if instance_variable_get("@#{type}_hero")
      key = "#{type}_class".to_sym
  %>
    <table class="table table-hover table-condensed stats class-stats">
      <thead>
        <tr>
          <th class="hero">Class</th>
          <th class="win-loss"><%= sortable_header_link('Win/Loss', :share) %></th>
          <th class="winrate"><%= sortable_header_link('Winrate', :winrate) %></th>
        </tr>
      </thead>
      <tbody>
        <% @stats[key].each do |hero, stats| %>
        <tr>
          <td class="hero"><%= type %> <%= link_to hero_label(hero.name), params.merge("#{type}_hero" => hero.name.downcase) %></td>
          <td class="win-loss"><%= win_loss(stats[:wins], stats[:losses]) %></td>
          <td class="winrate"><%= winrate(stats[:wins], stats[:losses], %w[justified]) %></td>
        </tr>
        <% end %>
      </tbody>
      <%
        values = @stats[key].sort_by { |_, stats| stats[:total] }.reverse.collect do |hero, stats|
          { label: hero.name, value: stats[:total], class: hero.name.downcase }
        end
      %>
      <%= render(partial: '/stats/shared/class_distribution_bar', locals: {values: values, colspan: 3}) %>
    </table>
  <% end %>
<% end %>
