<%= profile_page 'Class Statistics', json: true do %>
  <div class="row">
    <div class="col-sm-4">
      <h3>Class Statistics</h3>
    </div>
    <div class="col-sm-8">
      <h2>
        <%= render partial: '/stats/shared/toolbar' %>
      </h2>
    </div>
  </div>

  <%= render partial: '/layouts/notifications' %>

  <% if @as_hero %>
  <p>
    <strong>As:</strong> <%= hero_label(@as_hero.name) %> <%= link_to icon('times'), params.except(:as_hero) %>
  </p>
  <% end %>
  <% if @vs_hero %>
  <p>
    <strong>Versus:</strong> <%= hero_label(@vs_hero.name) %> <%= link_to icon('times'), params.except(:vs_hero) %>
  </p>
  <% end %>

  <table class="table table-hover table-condensed overall-stats">
    <thead>
      <tr>
        <th class="win-loss">Win - Loss</th>
        <th class="winrate">Winrate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="win-loss"><%= @stats[:overall][:wins] %> - <%= @stats[:overall][:losses] %></td>
        <td class="winrate"><%= winrate(@stats[:overall][:wins], @stats[:overall][:losses]) %>
        </td>
      </tr>
    </tbody>
  </table>

  <%
    %i[as vs].each do |type| 
      next if instance_variable_get("@#{type}_hero")
      key = "#{type}_class".to_sym
  %>
    <table class="table table-hover table-condensed class-stats">
      <thead>
        <tr>
          <th class="hero">Class</th>
          <th class="share"><%= sortable_header_link('Share', :share) %></th>
          <th class="win-loss">Win/Loss</th>
          <th class="winrate"><%= sortable_header_link('Winrate', :winrate) %></th>
        </tr>
      </thead>
      <tbody>

      <% @stats[key].each do |hero, stats| %>
      <tr>
        <td class="hero"><%= type %> <%= link_to hero_label(hero.name), params.merge("#{type}_hero" => hero.name.downcase) %></td>
        <td class="share"><%= percentage(stats[:total], @stats[:overall][:total]) %></td>
        <td class="win-loss"><%= stats[:wins] %>/<%= stats[:losses] %></td>
        <td class="winrate"><%= winrate(stats[:wins], stats[:losses]) %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
