<h2>Arena Statistics</h2>

<%
  total_arena_runs = @stats[:arena].inject(0) do |sum, (num_wins, count_per_hero)|
    sum + count_per_hero.values.inject(&:+)
  end
  total_wins = @stats[:arena].inject(0) do |sum, (num_wins, count_per_hero)|
    sum + num_wins * count_per_hero.values.inject(&:+)
  end
%>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Wins</th>
      <th class="text-center">Achieved</th>
      <th class="text-center">Share</th>
      <th class="text-center">Class</th>
    </tr>
  </thead>
  <tbody>

  <% @stats[:arena].each do |num_wins, count_per_hero| %>
  <tr>
    <td><%= num_wins %></td>
    <td class="text-center"><%= 
      times_achieved = count_per_hero.values.inject(&:+) 
      "#{times_achieved}x"
    %></td>
    <td class="text-center">
      <%= percentage( times_achieved, total_arena_runs ) %>
    </td>
    <td class="text-center">
      <%=
        count_per_hero.collect do |hero_name, count|
          hero_icon(hero_name, {data: {toggle: 'tooltip', placement: 'bottom'}, title: "#{count}x with #{hero_name}", class: 'has-tooltip'})
        end.join.html_safe
      %>
    </td>
  </tr>
  <% end %>
</table>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Total wins</th>
      <th class="text-center">Total arenas</th>
      <th class="text-center">Wins on average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= total_wins %></td>
      <td class="text-center"><%= total_arena_runs %></td>
      <td class="text-center"><%= total_arena_runs == 0 ? '-' : "%.1f" % (total_wins.to_f / total_arena_runs) %></td>
    </tr>
  </tbody>
</table>


