<h2>Deck Statistics</h2>
<% if @as_deck %>
<p>
  <strong>As:</strong> <%= label_for_deck(@as_deck) %> <%= link_to icon('times'), params.except(:as_deck) %>
</p>
<% end %>
<% if @vs_deck %>
<p>
  <strong>Versus:</strong> <%= label_for_deck(@vs_deck) %> <%= link_to icon('times'), params.except(:vs_deck) %>
</p>
<% end %>

<% if current_user.decks.empty? %>
<p class="alert alert-info">
  No decks defined. Define decks in the <%= link_to 'settings', profile_settings_decks_path %>.
</p>
<% else %>
  <% %i[as vs].each do |type| %>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Deck</th>
          <th class="text-center">Share</th>
          <th class="text-center">Win/Loss</th>
          <th class="text-center">Winrate</th>
        </tr>
      </thead>
      <tbody>

      <%
        total = @stats[:decks][type].inject(0) do |sum, (deck, stats)|
          sum + stats[:wins] + stats[:losses]
        end
      %>

      <% @stats[:decks][type].each do |deck, stats| %>
      <tr>
        <td><%= type %> <%= link_to label_for_deck(deck), params.merge("#{type}_deck" => deck.name.downcase) %></td>
        <td class="text-center"><%= percentage(stats[:wins] + stats[:losses], total) %></td>
        <td class="text-center"><%= stats[:wins] %>/<%= stats[:losses] %></td>
        <td class="text-center"><%= win_rate(stats[:wins], stats[:losses]) %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
