<div class="container">
  <%= render '/layouts/header' %>

  <div>
    <h2>Overall</h2>

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Win - Loss</th>
          <th>Winrate</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @stats[:overall][:wins] %> - <%= @stats[:overall][:losses] %></td>
        <td><%= win_rate(@stats[:overall][:wins], @stats[:overall][:losses]) %></td>
      </tr>
    </table>
    
    <h2>Arena Statistics</h2>

    <%= render partial: '/layouts/notifications' %>

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Win - Loss</th>
          <th># achieved</th>
        </tr>
      </thead>
      <tbody>

      <% @stats[:arena][:runs].each do |num_wins, count| %>
      <tr>
        <td><%= num_wins %>-x</td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </table>

    <h2> Class Statistics</h2>
    <%
      class_tables = [:as, :vs]
    %>
    <% if @as_hero
        class_tables.delete(:as) %>
    <p>
      <strong>As Hero:</strong> <%= hero_name(@as_hero.name) %> <%= link_to icon('times'), params.except(:as_hero) %>
    </p>
    <% end %>
    <% if @vs_hero
        class_tables.delete(:vs) %>
    <p>
      <strong>Versus Hero:</strong> <%= hero_name(@vs_hero.name) %> <%= link_to icon('times'), params.except(:vs_hero) %>
    </p>
    <% end %>

    <% class_tables.each do |type| %>
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Class</th>
            <th>Win/Loss</th>
            <th>Winrate</th>
          </tr>
        </thead>
        <tbody>

        <% @stats[:classes][type].each do |hero, stats| %>
        <tr>
          <td><%= type %> <%= link_to hero_name(hero), params.merge("#{type}_hero" => hero.downcase) %></td>
          <td><%= stats[:wins] %>/<%= stats[:losses] %></td>
          <td><%= win_rate(stats[:wins], stats[:losses]) %></td>
        </tr>
        <% end %>
      </table>
    <% end %>

    <%= render partial: 'layouts/profile_footer', locals: {json: true, csv: false} %>
  </div>

</div>

