<div class="container">
  <%= render '/layouts/header' %>

  <div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Overall</h2>
      </div>
      <div class="col-sm-6">
        <h2 class="text-right">
          <div class="btn-group btn-group-sm">
            <%= link_to 'All-time', params.except(:time_range), class: %w[btn btn-default] + (@time_range ? [] : ['active'])  %>
            <%= link_to 'Today', params.merge(time_range: :today), class: %w[btn btn-default] + (@time_range == :today ? ['active'] : [])  %>
            <%= link_to 'Last 3 days', params.merge(time_range: :last_3_days), class: %w[btn btn-default] + (@time_range == :last_3_days ? ['active'] : [])  %>
            <%= link_to 'Last 30 days', params.merge(time_range: :last_30_days), class: %w[btn btn-default] + (@time_range == :last_30_days ? ['active'] : []) %>
          </div>
        </h2>
      </div>
    </div>


    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Win - Loss</th>
          <th>Winrate</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @stats[:overall][:wins] %> - <%= @stats[:overall][:losses] %></td>
        <td><%= win_rate(@stats[:overall][:wins], @stats[:overall][:losses]) %></td>
      </tr>
    </table>
    
    <h2>Arena Statistics</h2>

    <%= render partial: '/layouts/notifications' %>

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Win - Loss</th>
          <th># achieved</th>
          <th>Class</th>
        </tr>
      </thead>
      <tbody>

      <% @stats[:arena].each do |num_wins, count_per_hero| %>
      <tr>
        <td><%= num_wins %>-x</td>
        <td><%= count_per_hero.values.inject(&:+) %></td>
        <td>
          <%=
            count_per_hero.collect do |hero_name, count|
              hero_icon(hero_name, {data: {toggle: 'tooltip', placement: 'bottom'}, title: "#{count}x with #{hero_name}", class: 'has-tooltip'})
            end.join.html_safe
          %>
        </td>
      </tr>
      <% end %>
    </table>

    <h2> Class Statistics</h2>
    <% if @as_hero %>
    <p>
      <strong>As:</strong> <%= hero_name(@as_hero.name) %> <%= link_to icon('times'), params.except(:as_hero) %>
    </p>
    <% end %>
    <% if @vs_hero %>
    <p>
      <strong>Versus:</strong> <%= hero_name(@vs_hero.name) %> <%= link_to icon('times'), params.except(:vs_hero) %>
    </p>
    <% end %>

    <% %i[as vs].each do |type| %>
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Class</th>
            <th>Win/Loss</th>
            <th>Winrate</th>
          </tr>
        </thead>
        <tbody>

        <% @stats[:classes][type].each do |hero, stats| %>
        <tr>
          <td><%= type %> <%= link_to hero_name(hero), params.merge("#{type}_hero" => hero.downcase) %></td>
          <td><%= stats[:wins] %>/<%= stats[:losses] %></td>
          <td><%= win_rate(stats[:wins], stats[:losses]) %></td>
        </tr>
        <% end %>
      </table>
    <% end %>

    <%= render partial: 'layouts/profile_footer', locals: {json: true, csv: false} %>
  </div>

</div>

