<div class="container">
  <%= render '/layouts/header' %>
  <% title 'Stats' %>

  <div>
    <%= render partial: '/layouts/notifications' %>
    <div class="row">
      <div class="col-sm-4">
        <h2>Overall</h2>
      </div>
      <div class="col-sm-8">
        <h2>
          <%= render partial: 'toolbar' %>
        </h2>
      </div>
    </div>

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Win - Loss</th>
          <th class="text-center">Winrate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @stats[:overall][:wins] %> - <%= @stats[:overall][:losses] %></td>
          <td class="text-center"><%= win_rate(@stats[:overall][:wins], @stats[:overall][:losses]) %>
          </td>
        </tr>
      </tbody>
    </table>

    <%= render partial: 'class_stats' %>
    <%= render partial: 'deck_stats' unless @mode and @mode == :arena %>
    <%= render partial: 'arena_stats' unless @mode and @mode != :arena %>

    <%= render partial: 'layouts/profile_footer', locals: {json: true, csv: false} %>
  </div>

</div>

