<%
  csv = local_assigns.fetch :csv, false
  json = local_assigns.fetch :json, false
%>

<div class="footer">
  <ul class="left">
    <li><i class="fa fa-twitter"></i> <%= link_to('Twitter', 'https://twitter.com/trackobot') %></li>
    <li><i class="fa fa-reddit"></i> <%= link_to('Reddit', 'http://www.reddit.com/r/trackobot/') %></li>
    <li><i class="fa fa-github"></i> <%= link_to('GitHub', 'https://github.com/stevschmid/track-o-bot') %></li>
    <li><i class="fa fa-paypal"></i> <%= link_to('Donate', 'https://www.paypal.me/StevenSchmid') %></li>
  </ul>
  <ul class="right">
    <% if json %>
      <li><%= link_to('This page in JSON', params.merge(format: :json)) %></li>
    <% end %>
    <% if csv %>
      <li><%= link_to('This page in CSV', params.merge(format: :csv)) %></li>
    <% end %>
  </ul>
</div>


