<div class="header">
  <ul class="nav nav-tabs pull-right">
    <%= nav_link 'History', profile_history_index_path, true %>
    <%= nav_link 'Arena', profile_arena_index_path %>

    <li class="dropdown <%= params[:controller].include?('stats') ? 'active' : '' %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stats <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <%= nav_link 'Classes', profile_stats_classes_path %>
        <%= nav_link 'Decks', profile_stats_decks_path %>
        <%= nav_link 'Arena', profile_stats_arena_index_path %>
      </ul>
    </li>

    <li class="dropdown <%= params[:controller].include?('settings') ? 'active' : '' %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon('gear') %> <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <%= nav_link 'Decks', profile_settings_decks_path %>
        <%= nav_link 'API', profile_settings_api_path %>
      </ul>
    </li>
  </ul>

  <h3 class="text-muted">Your Profile</h3>
</div>
