<!DOCTYPE html>
<html>
<head>
  <title><%= [ content_for?(:title) ? yield(:title) : nil, 'Track-o-Bot' ].compact.join(' - ') %></title>
  <meta name="description" content="Automated Open Source Tracking Software for Hearthstone" />
  <meta name="keywords" content="Hearthstone, Tracker, App, Open Source" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51009293-1', 'trackobot.com');
    ga('send', 'pageview');

  </script>
  <% end %>
</head>
<body>

<div class="container">
  <%
      alert_mapping = {error: 'danger', notice: 'info', alert: 'warning', success: 'success'}
  %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, class: "alert alert-dismissable alert-#{ alert_mapping[name.to_sym] || 'warning' }" do |div| %>
      <%= button_tag "&times;".html_safe, class: 'close', data: {dismiss: 'alert'}, 'aria-hidden' => 'true' %>
      <%= msg %>
    <% end %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
