<!DOCTYPE html>
<html>
<head>
  <title><%= [ content_for?(:title) ? yield(:title) : nil, 'Track-o-Bot' ].compact.join(' - ') %></title>
  <meta name="description" content="Open Source Hearthstone Tracker for Windows and Mac. Tracks the cards you and your opponent play and gives you access to sophisticated statistics." />
  <meta name="keywords" content="Hearthstone, Tracker, Windows, Mac, App, Open Source" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51009293-1', 'trackobot.com');
    ga('send', 'pageview');

  </script>

  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "SoftwareApplication",
    "name" : "Track-o-Bot",
    "description" :  "Everyone, get in here! Open Source Hearthstone Tracker for Windows and Mac. Tracks the cards you and your opponent play and gives you access to sophisticated statistics."
    "image" : "<%= image_url 'screenshot_history.png' %>",
    "url" : "<%= root_url %>",
    "publisher" : {
      "@type" : "Person",
      "name" : "Steven Schmid"
    },
    "applicationCategory" : "Application, Game",
    "applicationSubCategory":	"Hearthstone Tracker",
    "applicationSuite": "Hearthstone",
    "operatingSystem" : "Windows, Mac OS X",
    "requirements" : "Windows Vista, Mac OS X 10.7+"
  }
  </script>

  <% end %>
</head>
<body>

<div class="container">
  <%
      alert_mapping = {error: 'danger', notice: 'info', alert: 'warning', success: 'success'}
  %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, class: "alert alert-dismissable alert-#{ alert_mapping[name.to_sym] || 'warning' }" do |div| %>
      <%= button_tag "&times;".html_safe, class: 'close', data: {dismiss: 'alert'}, 'aria-hidden' => 'true' %>
      <%= msg %>
    <% end %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
